/* Primary styles */
*{
    font-family: Lato;
}

.primary-btn{
border-radius: 8px;
background: #E55473;
font-size: 20px;
font-weight: 700;
color: white;
padding: 20px 43px;
border: none;
}




/* section - 1 intro */
.intro-section{
    width: 1920px;
height: 850px;
background: rgba(229, 84, 115, 0.10);
margin-bottom: 170px;
}

.intro-container{
    display: flex;
    gap: 94px;
    position: 50%;
    margin-left: 240px;
    margin-right: 240px;

}

.intro-title{
color: #272727;
font-size: 80px;
font-weight: 800;
}


.intro-text{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
}

.intro-img{
    width: 635px;
}





/* feature section */


.feature-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}


.feature-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}


/* flower container */
.flower-container{
display: flex;
gap: 24px;
align-items: center;
margin-left: 240px;
}

.flower-name{
    color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
text-decoration-line: underline;
}

.round-box{
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}



/* service section  */
.service-section{
    margin-top: 130px;
    margin-left: 240px;
    width: 1440px;
height: 320px;
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
}


.service-logos-1{
margin-left: 130px;
}

.service-logos-2{
    margin-left: 130px;
    }

    
    .service-logos-3{
        margin-left: 50px;
        }
        


.service-text{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 24px;
font-weight: 600;

}

.service-details{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}


/* hot deal section */
.hot-deal{
    display: flex;
    align-items: center;
    gap: 180px;
    
    
    height: 620px;
    flex-shrink: 0;
padding-left: 430px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);

}

.deal-title{
    color: #272727;
font-size: 40px;
font-weight: 800;
}

.off{
    color: #E55473;
font-size: 40px;
font-weight: 800;
} 

.deal-text{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}

.deal-btn{
    margin-left: 200px;
}





