/* Primary styles */
*{
    font-family: Lato;
}

.primary-btn{
border-radius: 8px;
background: #E55473;
font-size: 20px;
font-weight: 700;
color: white;
padding: 20px 43px;
border: none;
}




/* section - 1 intro */
.intro-section{
    width: 1920px;
height: 850px;
background: rgba(229, 84, 115, 0.10);
margin-bottom: 170px;
}

.intro-container{
    display: flex;
    gap: 94px;
    position: 50%;
    margin-left: 240px;
    margin-right: 240px;

}

.intro-title{
color: #272727;
font-size: 80px;
font-weight: 800;
}


.intro-text{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
}

.intro-img{
    width: 635px;
}





/* feature section */


.feature-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}


.feature-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}


/* flower container */
.flower-container{
display: flex;
gap: 24px;
align-items: center;
margin-left: 240px;
}

.feature-flower{
    margin-top: 110px;
    margin-left: 80px;
}
.feature-flower-3{
    margin-top: 67px;
    margin-left: 80px;
}

.flower-name{
    color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
text-decoration-line: underline;
}

.round-box{
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}



/* service section  */
.service-section{
    margin-top: 130px;
    margin-left: 240px;
    width: 1440px;
height: 320px;
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
margin-bottom: 128px;
}


.service-logos-1{
margin-left: 130px;
}

.service-logos-2{
    margin-left: 130px;
    }

    
    .service-logos-3{
        margin-left: 50px;
        }
        


.service-text{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 24px;
font-weight: 600;

}

.service-details{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}


/* hot deal section */
.hot-deal{
    display: flex;
    align-items: center;
    gap: 180px;
    
    
    height: 620px;
    flex-shrink: 0;
padding-left: 430px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);

}

.deal-title{
    color: #272727;
font-size: 40px;
font-weight: 800;
}

.off{
    color: #E55473;
font-size: 40px;
font-weight: 800;
} 

.deal-text{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}

.deal-btn{
    margin-left: 200px;
}



/* photo galary */

.galary-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.galary-text{
    /* width: 594px; */
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}


.galary{
margin-left: 240px;
}

.galary-imgs{
    margin-right: 24px;
}


/* offer deals section */
.offer-sec{
width: 1440px;
height: 449px;
flex-shrink: 0;
border-radius: 8px;
background: url(images/Rectangle_9.png), lightgray 0px -203.444px / 100% 213.755% no-repeat;
margin-left: 240px;
margin-top: 128px;
margin-bottom: 128px;
}


.offer-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 120px;
    margin-bottom: 0px;


}

.offer-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.email-box{
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
background: #FFF;
border: none;
margin-left: 287px;
margin-right: 16px;
padding-left: 22px;
}


/* Footer Section */
.footer-sec{
    background: #111010;
    width: 1922px;
    margin-top: 128px;
}

.footer-content{
    padding: 128px;
}


.footer-title{
color: #E55473;
font-size: 48px;
font-weight: 800;
text-align: center;
margin-bottom: 0px;
}

.shop{
    color: #FFF;
}

.footer-text{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    
}

.footer-text-2{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
}





/* Contact section */
.contact-sec{
/* background-color: #111010; */
width: 1000px;
height: 850px;
border-radius: 15px;
margin: auto;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.20);

}

.contact-content{
margin-left: 15%;
padding-top: 30px;
}

.contact-title{
    color: #272727;
font-size: 50px;
font-weight: 800;
}


.contact{
    width: 700px;
    height: 64px;
    border-radius: 8px;
background: #FFF;
border: none;
margin-bottom: 20px;
padding-left: 20px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.10);
}


.contact-msg{
    width: 700px;
    height: 200px;
    border-radius: 8px;
background: #FFF;
border: none;
margin-bottom: 20px;
padding-left: 20px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.10);
}