/* Primary styles */
*{
    font-family: Lato;
}

.primary-btn{
border-radius: 8px;
background: #E55473;
font-size: 20px;
font-weight: 700;
color: white;
padding: 20px 43px;
border: none;
}




/* section - 1 intro */
.intro-section{
    width: 1920px;
height: 850px;
background: rgba(229, 84, 115, 0.10);
margin-bottom: 170px;
}

.intro-container{
    display: flex;
    gap: 94px;
    position: 50%;
    margin-left: 240px;
    margin-right: 240px;

}

.intro-title{
color: #272727;
font-size: 80px;
font-weight: 800;
}


.intro-text{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
}

.intro-img{
    width: 635px;
}





/* feature section */
.feature-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}


.feature-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}